<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <!-- Database connection settings -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/internet_cafe</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>

      <!-- Log SQL queries -->
    <property name="format_sql">true</property>
    <property name="use_sql_comments">true</property>

      <!-- MAPPINGS -->
    <mapping class="com.mgerman.domain.CoffeeEntity"/>
    <!--<mapping class="com.mgerman.domain.OrderPositionInOrderEntity"/>-->
    <mapping class="com.mgerman.domain.OrderPositionEntity"/>
    <mapping class="com.mgerman.domain.OrderEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>